{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "chrome 60"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "chrome 60"
              ]
            }
          }
        ]
      ]
    }
  }
}