{
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "no-unused-expressions": 0,
    "dot-notation": 0,
    "no-throw-literal": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}