{
  "env": {
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "QUnit": false,
    "Backbone": true,
    "_": true,
    "$": true
  },
  "rules": {
    "no-throw-literal": 0,
    "no-undefined": 0
  }
}